<h1>Simple Tester matcher</h1>

<sd-tester-criteria [countries]="countries" [devices]="devices"
                    (onCriteriaChange)="search($event)"></sd-tester-criteria>

<table mat-table [dataSource]="testers" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let it">{{ it.id }}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let it">{{ it.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let it">{{ it.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="experience">
    <th mat-header-cell *matHeaderCellDef>Experience</th>
    <td mat-cell *matCellDef="let it">{{ it.experience }}</td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let it">{{ it.country }}</td>
  </ng-container>
  <ng-container matColumnDef="lastLogin">
    <th mat-header-cell *matHeaderCellDef>Last Login</th>
    <td mat-cell *matCellDef="let it">{{ it.lastLogin }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>
